@media screen and (max-width: 539px) {
    .header-tel-span {
        display: none;
    }

}

@media screen and (max-width: 767px) {

    .online-status {
        display: none;

    }

    .header-about {
        display: none;
    }

    .header-list-item.telegram-item {
        display: none;
    }

    .header-container {
        height: 50px;
    }

}

@media screen and (max-width: 920px) {
    .header-about {
        display: none;
    }
}

@media screen and (min-width: 410px) {
    .image-animation-what {
        left: 175px;
    }

    .image-wheel-rotare {
        left: 224px;
    }

    .what-list-item:nth-child(3) .image-wheel-rotare {

        left: 232px;
    }
}

@media screen and (min-width: 480px) {
    .container {
        padding: 0 24px;
        max-width: 100%;
        margin: auto;


    }

    .header-logo {
        display: flex;
    }

    .image-container {
        left: 35%;
    }

    .hero-form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form-label {
        width: calc(50% - 5px);
    }

    .hero-section {
        margin-bottom: 60px;
    }

    .image-animation-what {
        left: 280px;
    }

    .image-wheel-rotare {
        /* left: 62%; */
        left: 328px;
    }

    .what-list-item:nth-child(3) .image-wheel-rotare {
        /* left: 64%; */
        left: 336.5px;
    }

    .header-container .logo-company {
        display: flex;
    }

    .modal-window {
        width: 430px;
    }

    .hero-title-text {
        width: 45%;
    }


}

@media screen and (min-width: 575.98px) {
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }

    .hero-section {
        margin-bottom: 30px;
    }

    .hero-image {
        width: 300px;
        opacity: 1;
    }

    .image-animation-what {
        left: 295px;
    }

    .image-wheel-rotare {
        left: 343px;
    }

    .what-list-item:nth-child(3) .image-wheel-rotare {
        left: 351.5px;
    }

    .step-list-img {}

    .cars-logo-item {
        width: calc(100% / 7);
        padding: 10px;
    }

    .footer-container {
        flex-direction: row;
        gap: 25px;
        padding-bottom: 60px;
    }

    .footer-about {
        width: 50%;
    }

    .footer-contacts {
        width: 50%;
    }
}

@media screen and (min-width: 767.98px) {
    .container {
        max-width: 720px;
    }

    .header-container {
        height: 70px;
    }

    .main-container {
        padding-top: 70px;
    }


    .hero-section {
        margin-bottom: 80px;
    }

    .hero-image {
        width: 390px;
        opacity: 1;
    }

    .hero-title-location {
        display: flex;
        width: 50%;
    }

    .header-link.header-tel {
        width: 162px;
    }

    .header-btn {
        width: 162px;
    }

    .online-status {
        margin-left: auto;
        margin-right: auto;
    }

    .image-container {
        opacity: 0.9;
        right: 60px;
    }

    .hero-title {
        font-size: 72px;
    }

    .image-container {
        left: 50%;
        z-index: 1;
        top: 25px;
    }

    .about-wrap {
        max-width: 280px;
    }

    .what-list {
        display: flex;
        flex-direction: row;
        width: 720px;
        flex-wrap: wrap;
    }

    .what-list-item {
        width: 360px;
    }

    .what-list-item:nth-child(3) {
        width: 720px;
    }

    .image-animation-what {
        left: 114px;
    }

    .image-wheel-rotare {
        left: 162px;
    }

    .what-list-item:nth-child(3) .image-wheel-rotare {
        display: none;
    }

    .what-list-item:nth-child(3) .image-animation-what {
        left: 114px;
    }

    .what-list-item:nth-child(3):hover .image-animation-what,
    .what-list-item:nth-child(3):focus .image-animation-what {
        transform: unset;

    }

    .step-list-item:nth-child(1) .background-image {
        background: url('../images/slide1.png') right top no-repeat;
        background-size: 70%;
    }

    .step-list-item:nth-child(2) .background-image {
        background: url('../images/slide2.png') right top no-repeat;
        background-size: 70%;
    }

    .step-list-item:nth-child(3) .background-image {
        background: url('../images/slide3.png') right top no-repeat;
        background-size: 70%;
    }

    .circle-button {
        display: none;
    }
}


@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }

    .about-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .about-wrap {
        max-width: 340px;
    }

    .hero-image {
        top: 120px;
        width: 530px;
        opacity: 1;
    }

    .what-list {
        width: 960px;
    }

    .what-list-item {
        width: 480px;
    }

    .image-animation-what {
        left: 234px;
    }

    .what-list-item:nth-child(3) {
        width: 960px;
    }

    .what-list-item:nth-child(3) .image-animation-what {
        left: 234px;
    }

    .image-wheel-rotare {
        left: 281px;
    }

    .step-list-img {

        width: 60%;
    }

    .documents-rating-container {
        flex-direction: row;
        gap: 30px;
    }

    .documents-rating-wrap {
        width: 50%;
    }

    .documents-rating-form .form-label {
        width: 100%;
    }

    .documents-enumeration {
        width: 50%;
        margin: auto;
    }

    .step-list-item:nth-child(1) .background-image {
        background-size: 60%;
    }

    .step-list-item:nth-child(2) .background-image {
        background-size: 60%;
    }

    .step-list-item:nth-child(3) .background-image {
        background-size: 60%;
    }


}


@media screen and (min-width: 1199.98px) {
    .container {
        max-width: 1140px;
    }

    .header-logo {
        margin-right: 30px;
    }

    .header-container {
        padding: 30px;
    }

    .image-container {
        left: 50%;
        top: 100px;
    }

    .image-container img {
        max-width: none;
    }

    .image-form-window {
        display: block;
    }

    .hero-image {
        top: 40px;
        width: 600px;
        opacity: 1;
    }

    .hero-form-window-text {
        width: 205px;
    }

    .window-form-title {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .hero-form-row {
        flex-direction: row;
        gap: 30px;
    }

    .hero-form-window {
        padding: 40px;
    }

    .hero-form-wrap {
        width: 800px;
    }

    .about-list {
        gap: 60px 120px;

    }

    .what-list {
        flex-direction: row;
        width: 1140px;
    }

    .what-list-item {
        width: 380px;
    }

    .what-list-item:nth-child(3) {
        width: 380px;
    }

    .image-animation-what {
        left: 133px;
    }

    .image-wheel-rotare {
        left: 181px;
    }

    .what-list-item:nth-child(3) .image-wheel-rotare {
        left: 64.3%;
        display: block;
    }

    .what-list-item:nth-child(3) .image-animation-what {


        left: 47.5%;
    }

    .what-list-item:nth-child(3):hover .image-animation-what,
    .what-list-item:nth-child(3):focus .image-animation-what {
        transform: translateX(-20%);

    }

    .documents-rating-form .form-label {
        width: calc(50% - 5px);
    }

    .documents-enumeration {
        margin: unset;
    }

    .step-list-item:nth-child(1) .background-image {
        background-size: 40%;
    }

    .step-list-item:nth-child(2) .background-image {
        background-size: 40%;
    }

    .step-list-item:nth-child(3) .background-image {
        background-size: 40%;
    }

}